@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Open Sans;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
.first {
  background: url(./assets/bg-hero-desktop.svg);
  height: 100%;
  position: relative;
}
.overlay {
  background-color: rgb(235, 251, 255, 0.7);
  height: 100%;
  padding: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
nav button {
  background-color: white;
  border: none;
  padding: 10px 50px 10px 50px;
  box-shadow: rgba(93, 102, 101, 0.315) 2px 1px 8px 0px;
  border-radius: 20px;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.heroleft {
  width: 45%;
  margin-top: 120px;
}
.heroleft h2 {
  font-size: 30px;
  width: 70%;
  color: hsl(192, 100%, 9%);
}
.heroleft p {
  width: 85%;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: Open Sans;
}
.heroleft button {
  background-color: hsl(322, 100%, 66%);
  padding: 15px 60px 15px 60px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 11px;
  margin-top: 10px;
}
.heroright {
  width: 45%;
  margin-top: 50px;
}
.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.container2 {
  width: 85%;
  display: flex;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(93, 102, 101, 0.315) 2px 1px 8px 0px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
}
.container2 .left {
  width: 50%;
  margin-top: 90px;
  margin-right: 60px;
}
.container2 .left h2 {
  color: hsl(192, 100%, 9%);
  margin-bottom: 15px;
}
.container2 .left p {
  color: hsl(208, 11%, 55%);
  width: 90%;
  font-family: Open Sans;
}
.container2 .right {
  width: 50%;
}
.container3 {
  width: 85%;
  display: flex;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(93, 102, 101, 0.315) 2px 1px 8px 0px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
}
.container3 .right {
  width: 50%;
  margin-top: 90px;
}
.container3 .right h2 {
  color: hsl(192, 100%, 9%);
  margin-bottom: 15px;
}
.container3 .right p {
  color: hsl(208, 11%, 55%);
  width: 85%;
  font-family: Open Sans;
}
.container3 .left {
  width: 50%;
}
.container4 {
  width: 85%;
  display: flex;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(93, 102, 101, 0.315) 2px 1px 8px 0px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container4 .left {
  width: 50%;
  margin-top: 90px;
  margin-right: 60px;
}
.container4 .left h2 {
  color: hsl(192, 100%, 9%);
  margin-bottom: 15px;
}
.container4 .left p {
  color: hsl(208, 11%, 55%);
  width: 88%;
  font-family: Open Sans;
}
.container4 .right {
  width: 50%;
}
.float {
  display: flex;
  width: 50%;
  border: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(93, 102, 101, 0.315) 2px 1px 8px 0px;
  margin-top: 100px;
  margin-bottom: -80px;
}
.wrapper {
  width: 100%;
  padding: 60px 60px 50px 60px;
  text-align: center;
}
.wrapper h2 {
  margin-bottom: 20px;
  color: hsl(192, 100%, 9%);
}
.wrapper button {
  background-color: hsl(322, 100%, 66%);
  padding: 20px 80px 20px 80px;
  border: none;
  border-radius: 25px;
  color: white;
}
.footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  width: 100%;
  height: 500px;
  margin: auto;
}
.contents {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.contents p {
  color: rgba(255, 255, 255, 0.767);
  font-family: Open Sans;
  line-height: 2rem;
}

.one {
  width: 40%;
  height: 190px;
}
.one img {
  margin-bottom: 30px;
  width: 180px;
}
.one #line {
  line-height: 1.3rem;
  font-size: 15px;
}
.one #indentA {
  margin-left: 28px;
  line-height: 1.3rem;
  font-size: 15px;
}
.one #indentB {
  margin-left: 28px;
  line-height: 1.3rem;
  font-size: 15px;
  margin-bottom: 7px;
}
ion-icon {
  margin-right: 15px;
}
.two {
  width: 20%;
  height: 100px;
  margin-top: 35px;
}
.three {
  width: 20%;
  height: 100px;
  margin-top: 35px;
}
.four {
  width: 20%;
  height: 100px;
  margin-top: 45px;
}
.copy {
  background-color: hsl(192, 100%, 9%);
  color: white;
  text-align: right;
  padding-right: 70px;
  font-size: 12px;
  color: rgba(202, 197, 197, 0.767);
  font-family: Open Sans;
  margin-top: -120px;
}

@media screen and (max-width: 375px) {
  .first {
    background: url(./assets/bg-hero-mobile.svg);
  }
  .hero {
    flex-direction: column;
  }
  .heroleft {
    width: 100%;
    margin-top: 50px;
  }
  .heroright {
    width: 100%;
  }
  nav {
    flex-direction: column;
    width: 100%;
  }
  nav button {
    margin-top: 30px;
  }
  .container2 {
    flex-direction: column;
    width: 100%;
  }
  .container3 {
    flex-direction: column;
    width: 100%;
  }
  .container4 {
    flex-direction: column;
    width: 100%;
  }
  .float {
    flex-direction: column;
    width: 100%;
  }
}
